<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.FXOSGiBundleWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.bundle"
            java="true"
            name="%wizard.name.0"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
      </wizard>
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.E3PluginWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.3xpart"
            java="true"
            name="JavaFX Eclipse 3.x ViewPart"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
      </wizard>
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.HelloRCPNewWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.newfxrcp"
            name="JavaFX Eclipse 3.x RCP"
            rcp="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.pde.ui.NewJavaFXProductFileWizard"
            icon="icons/page_gear.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.jfxproduct"
            name="%wizard.name.1">
      </wizard>
      <wizard
            category="at.bestsolution.efxclipse.tooling/at.bestsolution.efxclipse.tooling.clazz"
            class="at.bestsolution.efxclipse.tooling.pde.ui.E3ViewPartClassWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.fxviewpart"
            name="Eclipse 3.x ViewPart"
            project="false">
      </wizard>
      <wizard
            category="at.bestsolution.efxclipse.tooling/at.bestsolution.efxclipse.tooling.pde.ui.osgi"
            class="at.bestsolution.efxclipse.tooling.pde.ui.wizard.app.NewBundleApplicationWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.osgi.app"
            name="OSGi Application"
            project="true">
      </wizard>
      <category
            id="at.bestsolution.efxclipse.tooling.pde.ui.osgi"
            name="OSGI"
            parentCategory="at.bestsolution.efxclipse.tooling">
      </category>
      <wizard
            category="at.bestsolution.efxclipse.tooling/at.bestsolution.efxclipse.tooling.pde.ui.osgi"
            class="at.bestsolution.efxclipse.tooling.pde.ui.wizard.bundle.NewBundleWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.osgi.bundle"
            name="OSGi Bundle"
            project="true">
      </wizard>
   </extension>

</plugin>
