<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.eclipse.ui"
             class="at.bestsolution.efxclipse.tooling.css.cssext.ui.debug.LocalExecutableExtensionFactory:at.bestsolution.efxclipse.tooling.css.cssext.ui.debug.ParserDebuggerView"
             id="at.bestsolution.efxclipse.tooling.css.cssext.ui.debug.ParserDebuggerView"
             name="Parser Debug View"
             restorable="true">
       </view>
    </extension>

</plugin>
