<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://contacts/1.0"
            class="at.bestsolution.efxclipse.runtime.examples.contacts.ContactsPackage"
            genModel="model/Contacts.genmodel"/>
   </extension>

</plugin>
