ElementSelector0 {}
.ClassSelector0 {}
#IdSelector0 {}

a .b_ {
	a:x(1p,p2,p3);
	b:y,y ;
}

Debug .p0 {
	p0:           x   x x;
	p0:x ;
	p1: a b c;
	p2: x a y;
	p2: w;
	/* p3 [ A | B | C ] [ D double ]? [ x [ y | z ] ]? p; */
	p3: B x z  p ;
	
	/*  <border-style> [ , <border-style> ]*
	 * <dash-style> [ phase double ]? [ centered | inside | outside ]? [ line-join [ miter double | bevel | round ] ]? [ line-cap [ square | butt | round ] ]?
	 */
	-fx-border-style: dotted phase 0.0 centered line-join miter 0.0 line-cap round , dotted inside line-join miter 0.0 line-cap round , dashed , dotted inside ,;
	-fx-border-style:dashed, dashed, none ;
	-fx-border-style: dashed, dotted, solid inside line-join miter 1.2;
	-fx-border-color: aliceblue, rgb(208,63,63), rgb(228,55,55);
}


.root {
    -fx-base: #7eaacc;
    -fx-background: #7eaacc;
    -fx-control-inner-background: white;
    asdf: s, d; 
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.button {
    -fx-background-color: transparent;
    -fx-padding: .0px .0px .0px,  .0px .0px .0px .0px 1%;
   /* [ top-left | top-center | top-right | center-left | center | center-right bottom-left | bottom-center | bottom-right | baseline-left | baseline-center | baseline-right ] */
    -fx-alignment: top-right ;  
    asdf: nixda blabla #ffffff;
    -fx-alternative-row-fill-visible: true;
    -some-color: #ffffff;
    
}
.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.tool-bar:horizontal .separator {
    -fx-orientation: vertical;
    -fx-padding: 2 0 2 0;
}

.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);   
}

.split-pane:horizontal > * > .split-pane-divider {
   -fx-border-color: transparent -fx-base transparent -fx-base;
   -fx-background-color: transparent, derive(-fx-base,20%);
   -fx-background-insets: 0, 0 1 0 1;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,+50%));
    -fx-text-fill: black;
}

.menu-bar .menu .label {
    -fx-padding: 0.333em 0.5em 0.333em 0.5em; /* 4 6 4 6*/
    -fx-text-fill: black;
}

.my-gridpane {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,70%), derive(-fx-base,20%));
}

.separator-label {
   -fx-text-fill: derive(-fx-base,-50%);
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}

#window_close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}

#window_min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}

#window_max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}

#window_close:hover {
    -fx-background-image: url("images/window-close-over.png");
}

#window_min:hover {
    -fx-background-image: url("images/window-min-over.png");
}

#window_max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
