@import "lala";
@import url("");

Hallo, Du {
	element: no rule for element foundvalue;
}

E[foo] {
	some: content;
}
E[foo="bar"] {
	
}
E[foo~="bar"] {
	
}
E[foo^="bar"] {
	
}
E[foo$="bar"] {
	
}
E[foo*="bar"] {
	
}
E[foo|="bar"] {
	
}


test:n-th(2n),
test[a=jada] {
	property: a 1 px 3;
	
	with_comment: 1/*comment*/unit;
	with_space: 1 unit;
	normal: 1erganunit;
	
	asdf: 2px;
	func: hulligulli(1px);
	-fx-border-color: rgb(72,103,255);
}


.goodSelector >   
.hurli
 url
 .url 
 #url {
	doubleQuoted: url("http://www.example.com/image.png");
	singleQuoted: url('http://www.example.com/url/image.png');
	notQuoted: url(http://www.example.com/image.png);
	
	notQuoted2: url(http://www.example.com/image\ \(\'2\'\).png); /* with \-escaped special chars */
	notQuoted3: url(http://www.example.com/image%20%28%272%27%29.png); /* with %-escaped special chars */
	
	urlproperty: url(http://internet.com);
	
	withUrlInside: url(http://url.com);
}
 
 