
Region.test {
	-fx-blend-mode: asdf;
	-fx-padding: 12px;
	-fx-padding: 12%;
	-fx-arc-height: 1cm;
	-fx-graphic-hpos: inherit;
	-fx-padding: 1 1 1 1;
	-fx-arc-height: 1;
	-fx-alignment: 1px;
	-fx-smooth: #123;
	asdfasd: a;
	-fx-halignment: left;
}

.la.li.lu {
	
}