
Region.test {
	-fx-blend-mode: add;
	-fx-padding: 12px;
	-fx-arc-height: 1cm;
	-fx-graphic-hpos: inherit;
	-fx-padding: 1 1 1 1;
	-fx-arc-height: 1;
	-fx-alignment: 1px;
	-fx-smooth: true;
	asdfasd: a;
	-fx-halignment: left;
}

.la.li.lu {
	
}