Node[no=me] {
	-fx-alignment: a;
	
}
.classname {
	
	-fx-background-color: rgb(0,0,0), rgb(0,0,0), rgb(192,192,192);
	
}
.classname {} 

 
Region.test {
	-fx-background-insets: 0.0%, 0.0%;
	-fx-snap-to-pixel: true;
	-fx-background-fills: rgb(0,0,0);
	-fx-blend-mode: color-dodge;
	-fx-background-color: aliceblue;
	-fx-background-color: anitquewhite, aquamarine, aqua, azure, rgb(10,10,10);
	 
	-fx-blend-mode: add;
	-fx-padding: 15em;
	-fx-arc-height: 1.0cm; 
	-fx-graphic-hpos: inherit;
	-fx-padding: 1.0 1.0 1.0 1.0;
	-fx-arc-height: 1.0;
	-fx-alignment: baseline-center;
	-fx-smooth: true;
	asdfasd: a;
	-fx-halignment: left;
	
}

.a {
	property:none;
	-fx-alignment: baseline-center;
}
.b {
	eigenschaft:nice;
}

 
.la.li.lu {
	lala: url(halligalliurtoo.com);
}


.future {
	width: 20.0;
	-fx-opacity: width;	
}

.current {
	
}

.ua {
	
}

.ue {
	
}

.ur {
	
}
