@import "../chameleon/styles.css";

/** 
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

.v-besotextfield {
	/*color: #F7F8F9 !important;*/
}

.v-invisible-report-window {
	width:0 !important;
	height:0 !important;
	border:0; 
	display: none !important;
	property:nat;
}
 
.v-table tr.v-selected{
background-repeat: repeat-x;
}
 
.v-table-cell-wrapper {
    white-space: normal;
	color: #000000 !important;
}

.v-admin-breadcrumbs {
	padding-left: 8px;
}

.v-tabsheet-tabitemcell-v-tab-dirty {
	font-weight: bold;
}

.v-tabsheet-tabitemcell-v-tab-clean {
	font-weight: normal;
}

.v-button {
	margin-left: 3px;
}

.v-table-cell-content-admin-team-needs,
.v-table-cell-content-admin-workplace-needs,
.v-table-cell-content-admin-team-needs-outdated,
.v-table-cell-content-admin-workplace-needs-outdated {
 /*font-weight: bold;*/
}

.v-table-cell-content-admin {
}

.v-table-cell-content-admin-dateconflict {
	color:red !important;
}

.v-table-cell-content-admin-past,
.v-table-cell-content-admin-team-needs-past,
.v-table-cell-content-admin-workplace-needs-past,
.v-table-cell-content-admin-workplace-subworkplaces-past,
.v-table-cell-content-admin-company-companycar-past,
.v-table-cell-content-admin-company-contactperson-past,
.v-table-cell-content-admin-company-address-past {
	text-decoration: line-through !important;
}

.v-table-cell-content-admin-future,
.v-table-cell-content-admin-team-needs-future,
.v-table-cell-content-admin-workplace-needs-future,
.v-table-cell-content-admin-workplace-subworkplaces-future,
.v-table-cell-content-admin-company-companycar-future,
.v-table-cell-content-admin-company-contactperson-future,
.v-table-cell-content-admin-company-address-future {
	font-style: italic !important;
}

.v-table-cell-content-admin-team-needs,
.v-table-cell-content-admin-workplace-needs {
	color:green !important;
}

.v-table-cell-content-admin-workplace-subworkplaces {
	color:blue !important; 
}

.v-table-cell-content-admin-company-companycar {
	color:blue !important; 
}

.v-table-cell-content-admin-company-contactperson {
	color:green !important; 
}

.v-table-cell-content-admin-company-address {
	color:orange !important; 
}

.v-caption-datachange-section {
	color:red; 
	font-weight: bold;
}

.v-caption-datachange-object {
	font-weight: bold;
	padding-left: 8px;
}

.v-caption-datachange-feature { 
	padding-left: 16px;
}

.v-caption-ehs {
	padding-left: 8px;
	padding-top: 3px;
}

.v-disabled {
	opacity: 1 !important;
}

.v-form {
	padding-top: 6px;
	padding-bottom: 6px;
}

.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    position: absolute;
	left:50%;
	top:50%;
    z-index: 30000;
    width: 31px;
    height: 31px;
    background: transparent url(../base/common/img/loading-indicator.gif);

	margin-top:-16px;
	margin-left:-16px;
	padding:0px;
}
.v-loading-indicator-delay {
    background-image: url(../base/common/img/loading-indicator-delay.gif);
}
.v-loading-indicator-wait {
    background-image: url(../base/common/img/loading-indicator-wait.gif);
}

.v-app,
.v-window,
.v-popupview-popup,
.v-tooltip,
.v-app input,
.v-app select,
.v-app button,
.v-app textarea,
.v-window input,
.v-window select,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup select,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-menubar-submenu,
.v-drag-element,
.v-menubar-submenu-indicator,
.v-menubar-more-menuitem,
.v-slider-feedback {
	font-family: "GE Inspira Medium",Verdana,Tahoma,Arial,Helvetica,"Lucida Grande","Lucida Sans Unicode",sans-serif;
}


.v-app {
	background: rgb(249,249,249);
}

.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu {
	background-color: rgb(249,249,249);
	background-color: rgba(249,249,249,.85);
	}

body.v-ie6 .v-window,
body.v-ie7 .v-window,
body.v-ie6 .v-popupview-popup,
body.v-ie7 .v-popupview-popup,
body.v-ie6 .v-filterselect-suggestpopup,
body.v-ie7 .v-filterselect-suggestpopup,
body.v-ie6 .v-datefield-popup,
body.v-ie7 .v-datefield-popup,
body.v-ie6 .v-contextmenu,
body.v-ie7 .v-contextmenu,
body.v-ie6 .v-menubar-submenu,
body.v-ie7 .v-menubar-submenu,
.v-panel-content,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-content,
.v-tabsheet-tabitem-selected,
.v-slider-base,
.v-window-modalitycurtain,
.v-window-opaque,
.v-progressindicator-wrapper,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-accordion-opaque div.v-accordion-item-open,
.v-table-scrollposition,
.v-table-body {
	background-color: rgb(249,249,249);
	}

/* Base font size and color */
.v-app,
.v-window,
.v-popupview-popup,
.v-app input,
.v-app button,
.v-app textarea,
.v-window input,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-datefield-calendarpanel-header button,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-filterselect-select-button .v-filterselect-input,
.v-drag-element {
	font-size: 13px;
	color: rgb(34,34,34);
	}

.v-app select,
.v-window select,
.v-popupview-popup select,
.v-datefield-popup select {
	font-size: 13px;
	}

.v-label,
.sidebar-menu .v-label,
.v-table-scrollposition {
	@optional-generated-shadow@
	}

/* Base background color */
.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
	background-color: rgb(151,177,204);
	border-color: rgb(103,117,130);
	}

div.v-button-down:active {
	background-color: rgb(125,144,163);
	}
	
.v-button:focus {
	background-color: rgb(151,177,204);
	}

/* Base border color */
.v-button:active .v-button-wrap,
.v-ie .v-button.v-pressed .v-button-wrap,
.v-button-down .v-button-wrap,
.v-datefield-calendarpanel-header td,
.v-slider-base,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerNext-disabled,
.v-tabsheet-scrollerNext-disabled:active,
.v-table-header-wrap,
.v-table-body,
.v-table-resizer,
div.v-table-focus-slot-left,
div.v-table-focus-slot-right,
input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-color: rgb(125,144,163);
	}


input.v-textfield,
textarea.v-textarea,
.v-filterselect {
	border-bottom-color: rgb(151,177,204);
	border-left-color: rgb(151,177,204);
	border-right-color: rgb(151,177,204);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-button,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-datefield-calendarpanel-weekdays strong,
.v-slider-handle,
.v-table-header-wrap,
.v-table-generated-row,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-accordion-opaque,
.v-accordion-opaque .v-accordion-item-open,
.v-accordion-opaque .v-accordion-item-caption,
.v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,
div.v-accordion-item-caption,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	background-color: rgb(181,218,255);
	border-color: rgb(125,144,163);
	}

.v-button .v-button-wrap,
.v-disabled.v-button:focus .v-button-wrap,
.v-disabled.v-button:active .v-button-wrap,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-window-wrap,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-menubar-submenu,
.v-panel-bubble .v-panel-caption-bubble,
.v-slider-handle,
.v-tabsheet-tabitem-selected .v-caption,
.v-table-header-wrap,
.v-table-generated-row,
.v-table-header-drag,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage,
.v-filterselect-nextpage,
.v-filterselect-select-button,
.v-progressindicator-indicator,
.v-accordion-item-caption,
.v-accordion-item-open .v-accordion-item-caption:active,
.v-tabsheet-scroller,
.v-csslayout-toolbar,
.v-menubar {
	
	}

.v-datefield-calendarpanel-weekdays strong,
.v-splitpanel-hsplitter-small,
.v-splitpanel-vsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.v-splitpanel-vsplitter-small-locked {
	background-color: rgb(151,177,204);
	}

.v-progressindicator-wrapper {
	border-color: rgb(151,177,204);
	}

.v-button,
.v-disabled.v-button:focus,
.v-disabled.v-button:active,
.v-datefield-calendarpanel-header button,
td.v-datefield-calendarpanel-month,
.v-tabsheet-tabitem-selected .v-caption,
.v-window-header,
.v-table-caption-container,
.v-accordion-item-caption,
.v-menubar .v-menubar-menuitem,
.v-filterselect-select-button .v-filterselect-input {
	text-shadow: 0 1px 0 rgb(233,244,255);
	}

/* Background border color */
.v-window,
.v-popupview-popup,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-panel-caption,
.v-panel-nocaption,
.v-panel-content,
.v-panel-deco,
.v-panel-light .v-panel-caption-light,
.v-panel-bubble .v-panel-captionwrap,
.v-panel-bubble .v-panel-content-bubble,
.v-panel-bubble .v-panel-deco-bubble,
.v-tabsheet-tabitem-selected,
.v-tabsheet-tabitem,
.v-tabsheet-spacertd div,
.v-tabsheet-content,
.v-tabsheet-deco,
.v-slider,
.v-splitpanel-hsplitter,
.v-splitpanel-vsplitter,
.v-splitpanel-hsplitter-locked,
.v-splitpanel-vsplitter-locked,
.v-table-scrollposition,
.v-accordion,
.v-accordion-item-caption,
.v-accordion-item-open,
.v-menubar-separator span {
	border-color: rgb(199,199,199);
	}

/* Alternate colors */
.v-label-color,
.v-button-link,
.v-button-link:focus,
.v-button-link:active,
.v-disabled.v-button-link,
.v-disabled.v-button-link:focus,
.v-app a,
.v-popupview-popup a,
.v-popupview,
.sidebar-menu .v-label {
	color: rgb(0,0,0);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down {
	border-color: rgb(46,90,132);
	}

.v-button-default:focus,
.v-horizontallayout-segment-alternate .v-button-down:active {
	background-color: rgb(45,107,165);
	}

.v-button-default:active .v-button-wrap,
.v-ie7 .v-button-default.v-pressed .v-button-wrap,
.v-ie8 .v-button-default.v-pressed .v-button-wrap,
.v-progressindicator-indicator,
.v-datefield-calendarpanel-day-focused,
.v-datefield-calendarpanel-day:hover,
.v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
	border-color: rgb(45,107,165);
	}

.v-button-default,
.v-disabled.v-button-default,
.v-disabled.v-button-default:focus,
.v-button-default:active,
.v-ie7 .v-button-default.v-pressed,
.v-ie8 .v-button-default.v-pressed,
.v-panel-bubble .v-panel-caption,
.v-datefield-calendarpanel-day-selected,
.v-table tr.v-selected,
.v-contextmenu .gwt-MenuItem-selected,
.v-contextmenu .gwt-MenuItem-selected div,
.v-filterselect-suggestpopup .gwt-MenuItem-selected,
.v-progressindicator-indicator,
.v-tree-node-selected span,
.sidebar-menu .tab-selected,
.sidebar-menu .selected,
.v-horizontallayout-segment-alternate .v-button-down,
.v-menubar .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem-selected {
	background-color: rgb(40,126,206);
	color: rgb(247,248,249);
	text-shadow: 0 -1px 0 rgb(46,90,132);
	}

.v-ie6 .v-progressindicator-indicator {
	background-color: rgb(40,126,206);
	}

.v-panel-caption,
.v-table-striped .v-table-row-odd,
.sidebar-menu {
	background: rgb(220,229,238);
	}

.sidebar-menu .tab-selected,
.sidebar-menu .selected {
	text-shadow: 0 1px 0 rgb(46,90,132);
}